In [150]:
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data
#. (2.5 points)

In [151]:
import numpy as np
import pandas as pd

In [152]:
df = pd.read_csv('Laliga.csv') # reading .csv file

In [153]:
df.columns = df.iloc[0]
df.replace('-',0,inplace=True) # changing the index to 1st row

In [154]:
df.drop(0, inplace=True) # dropping first row as it includes the indexed row as well

In [155]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

#Print all the teams which have started playing between 1930-1980. (5 points)

In [156]:
df1=df.loc[:,['Team','Debut']] # creating new dataframe to operate only on two required columns only
df1

0                  Team    Debut
1           Real Madrid     1929
2             Barcelona     1929
3       Atletico Madrid     1929
4              Valencia  1931-32
5       Athletic Bilbao     1929
6               Sevilla  1934-35
7              Espanyol     1929
8         Real Sociedad     1929
9              Zaragoza  1939-40
10           Real Betis  1932-33
11  Deportivo La Coruna  1941-42
12           Celta Vigo  1939-40
13           Valladolid  1948-49
14     Racing Santander     1929
15       Sporting Gijon  1944-45
16              Osasuna  1935-36
17               Malaga  1949-50
18               Oviedo  1933-34
19             Mallorca  1960-61
20           Las Palmas  1951-52
21           Villarreal  1998-99
22              Granada  1941-42
23       Rayo Vallecano  1977-78
24                Elche  1959-60
25               Getafe  2004-05
26             Hercules  1935-36
27             Tenerife  1961-62
28               Murcia  1940-41
29               Alaves  1930-31
30              Levante  1963-64
..                  ...      ...
32             Sabadell  1943-44
33                Cadiz  1977-78
34             Logrones  1987-88
35            Castellon  1941-42
36             Albacete  1991-92
37              Almeria  2007-08
38              Cordoba  1962-63
39           Compostela  1994-95
40           Recreativo  1978-79
41            Burgos CF  1971-72
42           Pontevedra  1963-64
43             Numancia  1999-00
44                Eibar  2014-15
45               Arenas     1929
46          Real Burgos  1990-91
47            Gimnastic  1947-48
48          Extremadura  1996-97
49               Merida  1995-96
50             Alcoyano  1945-46
51                 Jaen  1953-54
52           Real Union     1929
53           AD Almeria  1979-80
54               Europa     1929
55               Lleida  1950-51
56              Leganes  2016-17
57                Xerez  2009-10
58               Condal  1956-57
59      Atletico Tetuan  1951-52
60     Cultural Leonesa  1955-56
61               Girona  2017-18

[61 rows x 2 columns]

In [157]:
new = df1["Debut"].str.split("-", n = 0, expand = True) # splitting the elements on basis of ''-''

In [158]:
df1['DebutYear']=new[0]  # creating dataframe with new column which is obtained after splitting with '-' delimiter
df1

0                  Team    Debut DebutYear
1           Real Madrid     1929      1929
2             Barcelona     1929      1929
3       Atletico Madrid     1929      1929
4              Valencia  1931-32      1931
5       Athletic Bilbao     1929      1929
6               Sevilla  1934-35      1934
7              Espanyol     1929      1929
8         Real Sociedad     1929      1929
9              Zaragoza  1939-40      1939
10           Real Betis  1932-33      1932
11  Deportivo La Coruna  1941-42      1941
12           Celta Vigo  1939-40      1939
13           Valladolid  1948-49      1948
14     Racing Santander     1929      1929
15       Sporting Gijon  1944-45      1944
16              Osasuna  1935-36      1935
17               Malaga  1949-50      1949
18               Oviedo  1933-34      1933
19             Mallorca  1960-61      1960
20           Las Palmas  1951-52      1951
21           Villarreal  1998-99      1998
22              Granada  1941-42      1941
23       Rayo Vallecano  1977-78      1977
24                Elche  1959-60      1959
25               Getafe  2004-05      2004
26             Hercules  1935-36      1935
27             Tenerife  1961-62      1961
28               Murcia  1940-41      1940
29               Alaves  1930-31      1930
30              Levante  1963-64      1963
..                  ...      ...       ...
32             Sabadell  1943-44      1943
33                Cadiz  1977-78      1977
34             Logrones  1987-88      1987
35            Castellon  1941-42      1941
36             Albacete  1991-92      1991
37              Almeria  2007-08      2007
38              Cordoba  1962-63      1962
39           Compostela  1994-95      1994
40           Recreativo  1978-79      1978
41            Burgos CF  1971-72      1971
42           Pontevedra  1963-64      1963
43             Numancia  1999-00      1999
44                Eibar  2014-15      2014
45               Arenas     1929      1929
46          Real Burgos  1990-91      1990
47            Gimnastic  1947-48      1947
48          Extremadura  1996-97      1996
49               Merida  1995-96      1995
50             Alcoyano  1945-46      1945
51                 Jaen  1953-54      1953
52           Real Union     1929      1929
53           AD Almeria  1979-80      1979
54               Europa     1929      1929
55               Lleida  1950-51      1950
56              Leganes  2016-17      2016
57                Xerez  2009-10      2009
58               Condal  1956-57      1956
59      Atletico Tetuan  1951-52      1951
60     Cultural Leonesa  1955-56      1955
61               Girona  2017-18      2017

[61 rows x 3 columns]

In [159]:
df1['DebutYear']=df1['DebutYear'].astype(int) # converting the column into int datatype

In [160]:
df2 = df1[(df1['DebutYear']>=1930)&(df1['DebutYear']<=1980)] 
df2 # df2 displays the list of team who made their debut between year 1930-80
#df2.shape

0                  Team    Debut  DebutYear
4              Valencia  1931-32       1931
6               Sevilla  1934-35       1934
9              Zaragoza  1939-40       1939
10           Real Betis  1932-33       1932
11  Deportivo La Coruna  1941-42       1941
12           Celta Vigo  1939-40       1939
13           Valladolid  1948-49       1948
15       Sporting Gijon  1944-45       1944
16              Osasuna  1935-36       1935
17               Malaga  1949-50       1949
18               Oviedo  1933-34       1933
19             Mallorca  1960-61       1960
20           Las Palmas  1951-52       1951
22              Granada  1941-42       1941
23       Rayo Vallecano  1977-78       1977
24                Elche  1959-60       1959
26             Hercules  1935-36       1935
27             Tenerife  1961-62       1961
28               Murcia  1940-41       1940
29               Alaves  1930-31       1930
30              Levante  1963-64       1963
31            Salamanca  1974-75       1974
32             Sabadell  1943-44       1943
33                Cadiz  1977-78       1977
35            Castellon  1941-42       1941
38              Cordoba  1962-63       1962
40           Recreativo  1978-79       1978
41            Burgos CF  1971-72       1971
42           Pontevedra  1963-64       1963
47            Gimnastic  1947-48       1947
50             Alcoyano  1945-46       1945
51                 Jaen  1953-54       1953
53           AD Almeria  1979-80       1979
55               Lleida  1950-51       1950
58               Condal  1956-57       1956
59      Atletico Tetuan  1951-52       1951
60     Cultural Leonesa  1955-56       1955

In [161]:
#Print the list of teams which came Top 5 in terms of points (2.5 points)

In [163]:
df['Points'] = df['Points'].astype(int)  # converting 'Points column into int datatype
df
df.sort_values('Points',0,0).head(5) # list of teams which came Top 5 in terms of points

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [164]:
#Write a function with name â€œGoal_diff_countâ€ which should return all the teams with their Goal Differences. 
#Using the same function, find the team which has maximum and minimum goal difference. (5 points)
#Goal_diff_count = GoalsFor - GoalsAgainst

In [165]:
def Goal_diff_count(a,b): 
    Goal_diff_count = df['GoalsFor'].astype(int)-df['GoalsAgainst'].astype(int)
    df1['Goal_diff_count']= Goal_diff_count
    print(df1)
    MAX_Goals = df1.sort_values('Goal_diff_count',0,0).head(1)
    MIN_Goals = df1.sort_values('Goal_diff_count',0,0).tail(1)
    print(MAX_Goals)
    print(MIN_Goals)
    return df1['Goal_diff_count'] , MAX_Goals , MIN_Goals
    #print(df1['Goal_diff_count'].max())

Goal_diff_count(df['GoalsFor'],df['GoalsAgainst'])

0                  Team    Debut  DebutYear  Goal_diff_count
1           Real Madrid     1929       1929             2807
2             Barcelona     1929       1929             2786
3       Atletico Madrid     1929       1929             1225
4              Valencia  1931-32       1931              929
5       Athletic Bilbao     1929       1929              931
6               Sevilla  1934-35       1934              307
7              Espanyol     1929       1929             -280
8         Real Sociedad     1929       1929               -2
9              Zaragoza  1939-40       1939             -164
10           Real Betis  1932-33       1932             -333
11  Deportivo La Coruna  1941-42       1941             -136
12           Celta Vigo  1939-40       1939             -346
13           Valladolid  1948-49       1948             -413
14     Racing Santander     1929       1929             -525
15       Sporting Gijon  1944-45       1944             -399
16              Osasuna  1935-36       1935             -334
17               Malaga  1949-50       1949             -342
18               Oviedo  1933-34       1933             -309
19             Mallorca  1960-61       1960             -189
20           Las Palmas  1951-52       1951             -399
21           Villarreal  1998-99       1998              103
22              Granada  1941-42       1941             -338
23       Rayo Vallecano  1977-78       1977             -328
24                Elche  1959-60       1959             -272
25               Getafe  2004-05       2004             -113
26             Hercules  1935-36       1935             -334
27             Tenerife  1961-62       1961             -125
28               Murcia  1940-41       1940             -385
29               Alaves  1930-31       1930             -165
30              Levante  1963-64       1963             -202
..                  ...      ...        ...              ...
32             Sabadell  1943-44       1943             -228
33                Cadiz  1977-78       1977             -269
34             Logrones  1987-88       1987             -198
35            Castellon  1941-42       1941             -169
36             Albacete  1991-92       1991              -90
37              Almeria  2007-08       2007             -122
38              Cordoba  1962-63       1962             -145
39           Compostela  1994-95       1994              -42
40           Recreativo  1978-79       1978              -94
41            Burgos CF  1971-72       1971              -94
42           Pontevedra  1963-64       1963              -56
43             Numancia  1999-00       1999              -98
44                Eibar  2014-15       2014              -28
45               Arenas     1929       1929              -81
46          Real Burgos  1990-91       1990              -38
47            Gimnastic  1947-48       1947             -114
48          Extremadura  1996-97       1996              -55
49               Merida  1995-96       1995              -45
50             Alcoyano  1945-46       1945             -107
51                 Jaen  1953-54       1953              -62
52           Real Union     1929       1929              -31
53           AD Almeria  1979-80       1979              -45
54               Europa     1929       1929              -34
55               Lleida  1950-51       1950             -112
56              Leganes  2016-17       2016              -19
57                Xerez  2009-10       2009              -28
58               Condal  1956-57       1956              -20
59      Atletico Tetuan  1951-52       1951              -34
60     Cultural Leonesa  1955-56       1955              -31
61               Girona  2017-18       2017                0

[61 rows x 4 columns]
0         Team Debut  DebutYear  Goal_diff_count
1  Real Madrid  1929       1929             2807
0               Team Debut  DebutYear  Goal_diff_count
14  Racing Santander  1929       1929             -525

(1     2807
 2     2786
 3     1225
 4      929
 5      931
 6      307
 7     -280
 8       -2
 9     -164
 10    -333
 11    -136
 12    -346
 13    -413
 14    -525
 15    -399
 16    -334
 17    -342
 18    -309
 19    -189
 20    -399
 21     103
 22    -338
 23    -328
 24    -272
 25    -113
 26    -334
 27    -125
 28    -385
 29    -165
 30    -202
       ...
 32    -228
 33    -269
 34    -198
 35    -169
 36     -90
 37    -122
 38    -145
 39     -42
 40     -94
 41     -94
 42     -56
 43     -98
 44     -28
 45     -81
 46     -38
 47    -114
 48     -55
 49     -45
 50    -107
 51     -62
 52     -31
 53     -45
 54     -34
 55    -112
 56     -19
 57     -28
 58     -20
 59     -34
 60     -31
 61       0
 Name: Goal_diff_count, Length: 61, dtype: int32,
 0         Team Debut  DebutYear  Goal_diff_count
 1  Real Madrid  1929       1929             2807,
 0               Team Debut  DebutYear  Goal_diff_count
 14  Racing Santander  1929       1929             -525)

In [166]:
#Create a new column with name â€œWinning Percentâ€ and append it to the data set (5 points)
#Percentage of Winning = (GamesWon / GamesPlayed)*100

#If there are any numerical error, replace it with 0%
#Print the top 5 teams which has the highest Winning percentage

In [167]:
df['Winning Percent'] = (df['GamesWon'].astype(int)/df['GamesPlayed'].astype(int))*100
df['Winning Percent'].fillna(0, inplace=True) # replacing numberical error with 0
df.head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629

In [168]:
#Group teams based on their â€œBest positionâ€ and print the sum of their points for all positions (5 points)

In [169]:
df['BestPosition']= df['BestPosition'].astype(int)
df3=df.groupby(['BestPosition','Team']).first()

In [170]:
df3

0                                Pos Seasons  Points GamesPlayed GamesWon  \
BestPosition Team
1            Athletic Bilbao       5      86    3368        2762     1209
             Atletico Madrid       3      80    3442        2614     1241
             Barcelona             2      86    4262        2762     1581
             Deportivo La Coruna  11      45    1814        1530      563
             Real Betis           10      51    1884        1728      606
             Real Madrid           1      86    4385        2762     1647
             Real Sociedad         8      70    2573        2302      864
             Sevilla               6      73    2819        2408      990
             Valencia              4      82    3386        2664     1187
2            Las Palmas           20      33    1020        1096      367
             Racing Santander     14      44    1416        1428      453
             Sporting Gijon       15      43    1389        1458      471
             Villarreal           21      17     970         646      266
             Zaragoza              9      58    2109        1986      698
3            Arenas               45       7     107         130       43
             Espanyol              7      82    2792        2626      948
             Mallorca             19      27    1148         988      333
             Oviedo               18      38    1174        1192      408
4            Castellon            35      11     285         334      103
             Celta Vigo           12      51    1789        1698      586
             Malaga               17      36    1314        1255      390
             Osasuna              16      37    1351        1318      426
             Sabadell             32      14     353         426      129
             Valladolid           13      42    1471        1466      463
5            Cordoba              38       9     230         282       82
             Elche                24      21     606         678      203
             Hercules             26      20     538         628      184
             Tenerife             27      13     510         494      155
6            Alaves               29      12     421         380      125
             Getafe               25      12     553         456      147
...                               ..     ...     ...         ...      ...
             Levante              30      11     416         402      113
             Real Union           52       4      56          72       21
7            Albacete             36       7     277         270       76
             Gimnastic            47       4      91         116       34
             Logrones             34       9     293         346       96
             Pontevedra           42       6     150         180       53
             Salamanca            31      12     375         423      123
8            Almeria              37       6     242         228       62
             Europa               54       3      42          54       18
             Rayo Vallecano       23      17     662         652      189
             Recreativo           40       5     188         186       50
9            Girona               61       1       0           0        0
             Real Burgos          46       3      96         114       26
10           AD Almeria           53       2      52          68       17
             Alcoyano             50       4      76         108       30
             Compostela           39       4     190         160       52
             Eibar                44       3     132         114       35
11           Murcia               28      18     445         586      145
12           Burgos CF            41       6     168         204       59
             Cadiz                33      12     343         448      104
14           Jaen                 51       3      71          90       29
15           Cultural Leonesa     60       1      14          30        5
16           Atletico Tetuan      59       1      19          30        7
             Condal               58       1      22          30        7
             Lleida               55       2      40          68       13
17           Extremadura          48       2      83          80       20
             Leganes              56       1      35          38        8
             Numancia             43       4     148         152       37
19           Merida               49       2      81          80       19
20           Xerez                57       1      34          38        8

0                                GamesDrawn GamesLost GoalsFor GoalsAgainst  \
BestPosition Team
1            Athletic Bilbao            633       920     4631         3700
             Atletico Madrid            598       775     4534         3309
             Barcelona                  573       608     5900         3114
             Deportivo La Coruna        392       575     2052         2188
             Real Betis                 440       682     2159         2492
             Real Madrid                552       563     5947         3140
             Real Sociedad              577       861     3228         3230
             Sevilla                    531       887     3680         3373
             Valencia                   616       861     4398         3469
2            Las Palmas                 242       487     1347         1746
             Racing Santander           336       639     1843         2368
             Sporting Gijon             358       629     1753         2152
             Villarreal                 172       208      892          789
             Zaragoza                   522       766     2683         2847
3            Arenas                      21        66      227          308
             Espanyol                   608      1070     3609         3889
             Mallorca                   256       399     1182         1371
             Oviedo                     292       492     1642         1951
4            Castellon                   79       152      419          588
             Celta Vigo                 389       723     2278         2624
             Malaga                     330       535     1421         1763
             Osasuna                    327       565     1500         1834
             Sabadell                    95       202      492          720
             Valladolid                 384       619     1767         2180
5            Cordoba                     63       137      285          430
             Elche                      180       295      750         1022
             Hercules                   149       295      716         1050
             Tenerife                   128       211      619          744
6            Alaves                      81       174      458          623
             Getafe                     112       197      520          633
...                                     ...       ...      ...          ...
             Levante                     95       194      430          632
             Real Union                  14        37      153          184
7            Albacete                    76       118      320          410
             Gimnastic                   16        66      181          295
             Logrones                    92       158      291          489
             Pontevedra                  44        83      165          221
             Salamanca                  102       198      422          581
8            Almeria                     56       110      244          366
             Europa                       6        30       97          131
             Rayo Vallecano             148       305      760         1088
             Recreativo                  46        90      202          296
9            Girona                       0         0        0            0
             Real Burgos                 44        44      101          139
10           AD Almeria                  18        33       71          116
             Alcoyano                    16        62      145          252
             Compostela                  45        63      199          241
             Eibar                       27        52      139          167
11           Murcia                     143       298      607          992
12           Burgos CF                   50        95      216          310
             Cadiz                      127       217      393          662
14           Jaen                        13        48      121          183
15           Cultural Leonesa             4        21       34           65
16           Atletico Tetuan              5        18       51           85
             Condal                       8        15       37           57
             Lleida                      14        41       70          182
17           Extremadura                 23        37       62          117
             Leganes                     11        19       36           55
             Numancia                    37        78      155          253
19           Merida                      24        37       70          115
20           Xerez                       10        20       38           66

0                                Champion Runner-up Third Fourth Fifth Sixth  \
BestPosition Team
1            Athletic Bilbao            8         7    10      5     8    10
             Atletico Madrid           10         8    16      9     7     6
             Barcelona                 25        25    12     12     4     6
             Deportivo La Coruna        1         5     4      1     0     1
             Real Betis                 1         0     2      3     4     4
             Real Madrid               33        23     8      8     3     4
             Real Sociedad              2         3     2      5     4     3
             Sevilla                    1         4     4      5    12     6
             Valencia                   6         6    10     11    10     7
2            Las Palmas                 0         1     1      1     1     1
             Racing Santander           0         1     1      2     0     1
             Sporting Gijon             0         1     1      2     2     1
             Villarreal                 0         1     1      2     3     2
             Zaragoza                   0         1     4      5     4     4
3            Arenas                     0         0     1      0     3     0
             Espanyol                   0         0     4      5     2     5
             Mallorca                   0         0     2      0     2     1
             Oviedo                     0         0     3      2     2     4
4            Castellon                  0         0     0      1     2     0
             Celta Vigo                 0         0     0      2     4     5
             Malaga                     0         0     0      1     0     1
             Osasuna                    0         0     0      2     2     2
             Sabadell                   0         0     0      1     1     0
             Valladolid                 0         0     0      1     1     1
5            Cordoba                    0         0     0      0     1     0
             Elche                      0         0     0      0     1     1
             Hercules                   0         0     0      0     1     4
             Tenerife                   0         0     0      0     2     0
6            Alaves                     0         0     0      0     0     1
             Getafe                     0         0     0      0     0     1
...                                   ...       ...   ...    ...   ...   ...
             Levante                    0         0     0      0     0     1
             Real Union                 0         0     0      0     0     1
7            Albacete                   0         0     0      0     0     0
             Gimnastic                  0         0     0      0     0     0
             Logrones                   0         0     0      0     0     0
             Pontevedra                 0         0     0      0     0     0
             Salamanca                  0         0     0      0     0     0
8            Almeria                    0         0     0      0     0     0
             Europa                     0         0     0      0     0     0
             Rayo Vallecano             0         0     0      0     0     0
             Recreativo                 0         0     0      0     0     0
9            Girona                     0         0     0      0     0     0
             Real Burgos                0         0     0      0     0     0
10           AD Almeria                 0         0     0      0     0     0
             Alcoyano                   0         0     0      0     0     0
             Compostela                 0         0     0      0     0     0
             Eibar                      0         0     0      0     0     0
11           Murcia                     0         0     0      0     0     0
12           Burgos CF                  0         0     0      0     0     0
             Cadiz                      0         0     0      0     0     0
14           Jaen                       0         0     0      0     0     0
15           Cultural Leonesa           0         0     0      0     0     0
16           Atletico Tetuan            0         0     0      0     0     0
             Condal                     0         0     0      0     0     0
             Lleida                     0         0     0      0     0     0
17           Extremadura                0         0     0      0     0     0
             Leganes                    0         0     0      0     0     0
             Numancia                   0         0     0      0     0     0
19           Merida                     0         0     0      0     0     0
20           Xerez                      0         0     0      0     0     0

0                                  T    Debut Since/LastApp  Winning Percent
BestPosition Team
1            Athletic Bilbao      49     1929          1929        43.772629
             Atletico Madrid      56     1929       2002-03        47.475134
             Barcelona            83     1929          1929        57.241130
             Deportivo La Coruna  12  1941-42       2014-15        36.797386
             Real Betis           14  1932-33       2015-16        35.069444
             Real Madrid          79     1929          1929        59.630702
             Real Sociedad        19     1929       2010-11        37.532580
             Sevilla              32  1934-35       2001-02        41.112957
             Valencia             50  1931-32       1987-88        44.557057
2            Las Palmas            5  1951-52       2015-16        33.485401
             Racing Santander      5     1929       2011-12        31.722689
             Sporting Gijon        7  1944-45       2015-16        32.304527
             Villarreal            9  1998-99       2013-14        41.176471
             Zaragoza             18  1939-40       2012-13        35.146022
3            Arenas                4     1929       1934-35        33.076923
             Espanyol             16     1929       1994-95        36.100533
             Mallorca              5  1960-61       2012-13        33.704453
             Oviedo               11  1933-34       2000-01        34.228188
4            Castellon             3  1941-42       1990-91        30.838323
             Celta Vigo           11  1939-40       2012-13        34.511190
             Malaga                2  1949-50       2008-09        31.075697
             Osasuna               6  1935-36       2016-17        32.321700
             Sabadell              2  1943-44       1987-88        30.281690
             Valladolid            3  1948-49       2013-14        31.582538
5            Cordoba               1  1962-63       2014-15        29.078014
             Elche                 2  1959-60       2014-15        29.941003
             Hercules              5  1935-36       2010-11        29.299363
             Tenerife              2  1961-62       2009-10        31.376518
6            Alaves                1  1930-31       2016-17        32.894737
             Getafe                1  2004-05       2015-16        32.236842
...                               ..      ...           ...              ...
             Levante               1  1963-64       2015-16        28.109453
             Real Union            1     1929       1931-32        29.166667
7            Albacete              0  1991-92       2004-05        28.148148
             Gimnastic             0  1947-48       2006-07        29.310345
             Logrones              0  1987-88       1996-97        27.745665
             Pontevedra            0  1963-64       1969-70        29.444444
             Salamanca             0  1974-75       1998-99        29.078014
8            Almeria               0  2007-08       2014-15        27.192982
             Europa                0     1929       1930-31        33.333333
             Rayo Vallecano        0  1977-78       2015-16        28.987730
             Recreativo            0  1978-79       2008-09        26.881720
9            Girona                0  2017-18       2017-18         0.000000
             Real Burgos           0  1990-91       1992-93        22.807018
10           AD Almeria            0  1979-80       1980-81        25.000000
             Alcoyano              0  1945-46       1950-51        27.777778
             Compostela            0  1994-95       1997-98        32.500000
             Eibar                 0  2014-15       2014-15        30.701754
11           Murcia                0  1940-41       2007-08        24.744027
12           Burgos CF             0  1971-72       1979-80        28.921569
             Cadiz                 0  1977-78       2005-06        23.214286
14           Jaen                  0  1953-54       1957-58        32.222222
15           Cultural Leonesa      0  1955-56       1955-56        16.666667
16           Atletico Tetuan       0  1951-52       1951-52        23.333333
             Condal                0  1956-57       1956-57        23.333333
             Lleida                0  1950-51       1993-94        19.117647
17           Extremadura           0  1996-97       1998-99        25.000000
             Leganes               0  2016-17       2016-17        21.052632
             Numancia              0  1999-00       2008-09        24.342105
19           Merida                0  1995-96       1997-98        23.750000
20           Xerez                 0  2009-10       2009-10        21.052632

[61 rows x 19 columns]

In [176]:
df3.drop('Winning Percent',axis=1,inplace=True)
df3.sum(level='BestPosition')

0             Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34