Given a Bank customer, can we build a classifier that can determine whether they will leave or
not using Neural networks

1. Read the dataset
2. Drop the columns which are unique for all users like IDs (2.5 points)
3. Distinguish the feature and target set (2.5 points)
4. Divide the data set into train and test sets
5. Normalize the train and test data (2.5 points)
6. Initialize & build the model (10 points)
7. Optimize the model (5 points)
9. Predict the results using 0.5 as a threshold (5 points)
10. Print the Accuracy score and confusion matrix (2.5 points)

In [0]:
# Importing the necessary packages

import pandas as pd
import numpy as np
import tensorflow as tf

# 1. Read the dataset

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
# Reading the dataset

bank_data = pd.read_csv('/content/drive/My Drive/Data  Science/Churn.csv')
bank_data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

# 2. Drop the columns which are unique for all users like IDs

In [37]:
# Dropping irrelevant columns

bank_data.drop(["RowNumber","CustomerId","Surname"], axis=1, inplace=True)
bank_data.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

# 3. Distinguish the feature and target set

In [0]:
# Before distinguishing, converting the string columns to numerical columns using Label Encoder and creating dummies

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
bank_data['Geography']= label_encoder.fit_transform(bank_data['Geography'])
bank_data['Gender']= label_encoder.fit_transform(bank_data['Gender'])
bank_data.head()

bank_data = pd.get_dummies(bank_data, columns = ['Geography'])

In [39]:
bank_cust_data.columns

NameError: ignored

In [0]:
Y = bank_data['Exited']
X = bank_data.drop(['Exited'], axis = 1)

# 4. Divide the data set into train and test sets

In [0]:
# Splitting the dataframe into training and test set in the ratio of 70:30 

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 51)

# 5. Normalize the train and test data

In [0]:
# Normalizing the data

from sklearn.preprocessing import Normalizer
Normalize = Normalizer()
X_train_norm =  Normalize.fit_transform(X_train) 
X_test_norm =  Normalize.fit_transform(X_test)

In [0]:
Y_train = Y_train.astype('float32')
Y_train_array = Y_train.values

Y_test = Y_test.astype('float32')
Y_test_array = Y_test.values

# 6. Initialize & build the model

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, Flatten, Reshape

In [0]:
# Define Model
bank_model = Sequential()

#Adding 1st dense layer
bank_model.add(Dense(200, activation='relu', input_shape=(12,)))

#Add 2nd hidden layer
bank_model.add(Dense(100, activation='relu'))

#Adding OUTPUT layer
bank_model.add(Dense(1, activation='sigmoid'))

# 7. Optimize the model

In [0]:
#Compile the model
bank_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [46]:
bank_model.fit(X_train_norm, Y_train_array, epochs=10, validation_data=(X_test_norm, Y_test_array))

Train on 7000 samples, validate on 3000 samples
Epoch 1/10
7000/7000 [==============================] - 1s 146us/step - loss: 0.5057 - acc: 0.7951 - val_loss: 0.5157 - val_acc: 0.7877
Epoch 2/10
7000/7000 [==============================] - 1s 114us/step - loss: 0.4950 - acc: 0.8000 - val_loss: 0.5145 - val_acc: 0.7877
Epoch 3/10
7000/7000 [==============================] - 1s 116us/step - loss: 0.4954 - acc: 0.8000 - val_loss: 0.5124 - val_acc: 0.7877
Epoch 4/10
7000/7000 [==============================] - 1s 115us/step - loss: 0.4952 - acc: 0.8000 - val_loss: 0.5082 - val_acc: 0.7877
Epoch 5/10
7000/7000 [==============================] - 1s 115us/step - loss: 0.4944 - acc: 0.8000 - val_loss: 0.5094 - val_acc: 0.7877
Epoch 6/10
7000/7000 [==============================] - 1s 114us/step - loss: 0.4965 - acc: 0.8000 - val_loss: 0.5084 - val_acc: 0.7877
Epoch 7/10
7000/7000 [==============================] - 1s 111us/step - loss: 0.4954 - acc: 0.8000 - val_loss: 0.5101 - val_acc: 0.7877
Epoch 8/10
7000/7000 [==============================] - 1s 115us/step - loss: 0.4949 - acc: 0.8000 - val_loss: 0.5085 - val_acc: 0.7877
Epoch 9/10
7000/7000 [==============================] - 1s 115us/step - loss: 0.4944 - acc: 0.8000 - val_loss: 0.5089 - val_acc: 0.7877
Epoch 10/10
7000/7000 [==============================] - 1s 115us/step - loss: 0.4944 - acc: 0.8000 - val_loss: 0.5086 - val_acc: 0.7877

# 8. Predict the results using 0.5 as a threshold

In [0]:
Y_pred = bank_model.predict(X_test_norm)

In [48]:
Y_pred = (Y_pred>0.5)
Y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# 9. Print the Accuracy score and confusion matrix

In [0]:
from sklearn.metrics import confusion_matrix, accuracy_score
Matrix = confusion_matrix(Y_test_array, Y_pred)
Acc_score = accuracy_score(Y_test_array, Y_pred)

In [50]:
Matrix

array([[2363,    0],
       [ 637,    0]])

In [51]:
Acc_score

0.7876666666666666